# Backend API URL (Empty if running behind Nginx / Vercel rewrites)
VITE_API_URL=https://promise-to-pay-backend.onrender.com

# Clerk Authentication Configuration
VITE_CLERK_PUBLISHABLE_KEY=pk_test_YOUR_CLERK_PUBLISHABLE_KEY

# Razorpay Key ID
VITE_RAZORPAY_KEY_ID=rzp_test_YOUR_RAZORPAY_KEY

